.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
  text-transform: uppercase;
}

.section-padding {
  padding: 6em 1rem;
}

ul li {
  list-style: none;
}

.mainText {
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: lighter;
}

.twoColums {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.section-padding {
  padding: 8rem 1rem 0rem 1rem;
}

.padding-top {
  padding: 8rem 1rem;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #778b8e;
  z-index: 10;
}
.navigation .logo {
  margin: auto 0;
}
.navigation .logo img {
  width: 60%;
  padding: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1rem;
  color: #d1d0d0;
}
.nav__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0.5rem;
}
.nav__item a {
  color: #d1d0d0;
  font-size: 1.4rem;
  transition: color 0.3s;
}
.nav__item a:hover {
  color: #b88f14;
}

.openBtn {
  display: block;
}

.closeBtn {
  display: none;
  width: 30px;
}

.showBtn {
  display: flex;
}

.removeBtn {
  display: none;
}

.btnBox {
  padding: 1rem;
  cursor: pointer;
  transition: scale 0.3s;
}
.btnBox:hover {
  scale: 1.1;
}

.btn {
  margin-top: 1rem;
  background-color: transparent;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #b88f14;
  transition: background-color 0.3s;
}
.btn a {
  font-size: 0.9rem;
  color: white;
}
.btn:hover {
  background-color: #b88f14;
}

.header {
  position: relative;
  min-height: 10vh;
  background-image: url("../img/selfie_640.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #d1d0d0;
}
.header__heading {
  font-size: 2rem;
  text-wrap: wrap;
}
.header__text {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-family: "Dynalight", cursive;
  color: #b88f14;
}

.headerBox {
  padding: 2rem;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.AboutMeBox {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.AboutMeBox__img {
  width: 100%;
}
.AboutMeBox__img img {
  max-width: 100%;
}

.HowWork {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.HowWork .Title__Second {
  margin: 0 0 2rem 0;
}
.HowWork .Title__Section {
  margin-bottom: 0;
}
.HowWork__img {
  max-width: 100%;
}
.HowWork__img img {
  max-width: 100%;
}
.HowWork__Boxes--box {
  display: flex;
  margin: 2rem 0;
}
.HowWork__Boxes--box .textBox {
  font-size: 1.3rem;
  color: #b88f14;
  font-weight: lighter;
  padding: 1rem;
}
.HowWork__Boxes--box hr {
  width: 80%;
  background-color: #b88f14;
  margin: 2rem auto 0;
  grid-column: 1/3;
  height: 3px;
}
.HowWork__Boxes--box .numberBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #b87333;
  font-weight: bold;
}

.BreakSection {
  background-color: #778b8e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Dynalight", cursive;
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  padding: 4rem;
}
.BreakSection__author {
  margin-top: 1rem;
  font-size: 2rem;
}

.work {
  margin-top: 2rem;
}
.work .mainText {
  padding: 2rem;
}

.offers__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: scale 0.3s;
}
.offers__box:hover {
  scale: 0.9;
}
.offers__box img {
  width: 100%;
  cursor: pointer;
}
.offers__box-text {
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.offers__text {
  padding: 1rem;
}

.offer .mainText {
  padding: 0;
  text-align: left;
}
.offer .AboutMeBox__text {
  margin-bottom: 2rem;
}
.offer .offerList {
  margin-top: 1rem;
  padding: 0rem 1.5rem;
}
.offer .offerList__item {
  font-size: 1.3rem;
  text-align: left;
}
.offer ul li {
  list-style-type: circle;
}
.offer .btn {
  background-color: #b88f14;
  border: none;
  border: 1px solid #b88f14;
  transition: background-color color 0.3s;
}
.offer .btn:hover {
  background-color: transparent;
}
.offer .btn:hover a {
  color: black;
}

.accordion {
  max-width: 100%;
}
.accordion .accordionBtn {
  width: 100%;
  padding: 1rem;
  background-color: #778b8e;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-align: left;
}
.accordion .accordionBtn:hover {
  background-color: #778b8e;
}
.accordion__box {
  margin: 2rem 0;
}
.accordion__box--answear {
  background-color: white;
  padding: 0rem 2rem 2rem 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 255, 0.2);
  display: none;
}
.accordion__box .accordionQuestion {
  color: white;
  font-size: 1.3rem;
}
.accordion__box .accordionAnswear {
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 25px;
}
.accordion .openBtn {
  display: block;
}

.footer {
  background-color: #778b8e;
}
.footer__boxes {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
}
.footer__boxes-box {
  margin: 1rem auto;
}
.footer__boxes .mainText {
  text-align: center;
  margin: 1rem 0;
  padding: 0;
}
.footer__boxes .logo {
  margin-top: 3rem;
}
.footer__boxes .logo img {
  width: 100%;
}
.footer__boxes .ti {
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  transition: scale 0.3s;
}
.footer__boxes .ti:hover {
  color: #b88f14;
  scale: 1.1;
}
.footer__boxes--title {
  margin-top: 1rem;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
.footer__boxes--item {
  padding: 0.5rem;
}
.footer__boxes--item a {
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.footer__boxes--item a:hover {
  color: #b88f14;
}
.footer hr {
  width: 70%;
  margin: 1rem auto;
}
.footer__text {
  padding: 0.3rem;
  font-size: 1rem;
  text-align: center;
}

.textBox__text {
  grid-column: 2/3;
}
.textBox__text .mainText {
  padding: 1rem;
}
.textBox__title {
  grid-column: 1/2;
  padding: 1rem;
}
.textBox .Title__Section,
.textBox .Title__Second {
  text-align: left;
}

.galleryBox {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  overflow: hidden;
}
.galleryBox .image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: scale 0.3s;
  overflow: hidden;
}
.galleryBox .image:hover {
  scale: 0.95;
}
.galleryBox img {
  max-width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
}
.galleryBox__popup {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 100;
}
.galleryBox__popup img {
  max-width: 70%;
  max-height: 80%;
}
.galleryBox__popup .btnPopup {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  padding: 2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
  position: absolute;
  text-align: center;
}
.galleryBox__popup .btnPopup__close {
  font-size: 2.5rem;
  top: 10%;
  right: 20%;
}
.galleryBox__popup .btnPopup__left {
  top: calc(50% - 4rem);
  left: -1.8rem;
}
.galleryBox__popup .btnPopup__right {
  top: calc(50% - 4rem);
  right: 0;
}
.galleryBox__popup .btnPopup:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

.sticky-body {
  overflow: hidden;
}

.offersSection .image {
  cursor: none;
  transition: scale 0.3s;
}
.offersSection .image:hover {
  scale: 1;
}

.contactBox__social {
  background-image: url(../img/camera.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin: 2rem 0;
}
.contactBox__social .icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 1rem;
  transition: transform 0.3s;
}
.contactBox__social .icon:hover {
  transform: scale(1.1);
}
.contactBox__social .logo__box {
  font-size: 2rem;
  color: black;
}

.contactBox__social .mainText {
  font-size: 1.3rem;
  padding: 0.5rem;
  font-weight: lighter;
}
.contactBox__form {
  padding: 2rem;
}
.contactBox__form .form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.contactBox__form .form-box input,
.contactBox__form .form-box textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
}
.contactBox__form .form-box textarea {
  resize: vertical;
  min-height: 10rem;
}
.contactBox__form .form-box.error input,
.contactBox__form .form-box.error textarea {
  border: 1px solid #F2F8F8;
  background-color: #E9F0F0;
}
.contactBox__form .form-box .error-text {
  visibility: hidden;
  margin: 10px 0 0 10px;
  font-size: 14px;
  color: black;
  margin-bottom: 1rem;
}
.contactBox__form .form-box.error .error-text {
  visibility: visible;
}
.contactBox__form .control-buttons {
  display: flex;
  justify-content: flex-end;
}
.contactBox__form .sendBtn {
  display: block;
  padding: 10px 0;
  margin-left: 10px;
  width: 100px;
  font-size: 18px;
  background-color: rgb(0, 140, 255);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contactBox__form .send:hover,
.contactBox__form .clear:hover,
.contactBox__form .close:hover {
  background-color: rgb(0, 107, 194);
}

.Title__Section {
  text-align: center;
  font-size: 1.6rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.Title__Second {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-family: "Dynalight", cursive;
  font-weight: lighter;
  color: #b88f14;
}

.twoColums {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@keyframes menuAnimation {
  0% {
    opacity: 0;
    transform: rotate(54deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes arrowAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}/*# sourceMappingURL=main.css.map */